<div class="parallax-container small-banner">
  <h1 class="white-text center-align">Our menus</h1>
  <div class="parallax">
    <%= image_tag("menu-paralax-img.jpg") %>
  </div>
</div>

<div class="container mg-tp-20">
  <div class="row">
    <!-- Menus section -->
    <div class="col s12 m8">
      <div class="row ">
      <!-- Categories -->
        <div class="col s12 m4">
          <div class="row">
          <!-- List of catefories -->
            <div class="collection">
              <% @categories.each do | categorie | %>
                <a class="collection-item" onclick="jump('<%= categorie.title %>')">
                  <span class="badge right"><%= categorie.menus.count %></span>
                  <%= categorie.title %>
                </a>
              <% end %>
              <!-- <a class="collection-item" onclick="jump('steak')">
                <span class="badge right">2 items</span>
                Steak
              </a>
              <a class="collection-item" onclick="jump('soups')">
                <span class="badge right">5 items</span>
                Soups
              </a>
              <a class="collection-item" onclick="jump('desserts')">
                <span class="badge right">2 items</span>
                Desserts
              </a> -->
            </div>
          </div>
        </div>

        <!-- Lists of items -->
        <div class="col s12 m8">
          <div class="row pd-tp-05rem brd-rt-cd">
            <!-- Item sections -->
            <% @categories.each do | categorie | %>
              <div id="<%= categorie.title %>">
                
                <div class="col s12">
                  <span class="title"><h5><%= categorie.title %></h5><div class="divider"></div></span>
                </div>
                <% categorie.menus.each do | menu | %>
                  <div class="col m6 s12 mg-tp-05rem mg-bt-1rem center-align">
                    <div class="col s12 bg-white z-depth-1">
                      <%= image_tag("spagetti.jpg", class: "col s12 pd-tp-05rem no-padding") %>
                      <div class="item-detail col s12 no-padding">
                        <span class="title"><%= menu.title %></span>
                        <p class="description"><%= menu.description %></p>
                      </div>
                      <div class="item-price col s12 no-padding mg-bt-075rem">
                        <a href="#" class="col s4 push-s4 no-padding">
                          <span class="new badge left" style="margin: 0;" data-badge-caption="€"><%= menu.price %></span>
                        </a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div><br clear="all">
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Cart section -->
    <div class="col s12 m4">
      <div class="row">
        <div class="col s12">
          <ul class="collection center-align">
            <li class="collection-item">
              <p class="bold"><i class="material-icons no-margin" style="vertical-align: top;">shopping_cart</i>Your Order</p>
              <p>2 items added to your cart.</p>
            </li>
            <li class="collection-item">
              <p class="bold"><i class="material-icons no-margin" style="vertical-align: top;">drive_eta</i>Delivery Details</p>
              <p>Delivery distance: (Distance from resturant to ordered place)</p>
              <p>Delivery Est: 1 Hrs</p>
              <p>Delivery Distance Covered: (...)</p>
              <p>Delivery Fee: Free</p>
            </li>
            <li class="collection-item">
              <p class="bold"><i class="material-icons no-margin" style="vertical-align: top;">drive_eta</i>Delivery Options</p>
              <div class="input-field">
                <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Delivery</option>
                  <option value="2">Pick Up</option>
                </select>
              </div>
              <div class="input-field">
                <input type="date" class="datepicker" placeholder="Date">
              </div>
              <!-- <div class="input-field">
                <input id="timepicker" data-default="08:30:00" class="timepicker" type="time" placeholder="Time">
              </div> -->
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" />
                <label for="filled-in-box">Deliver ASAP ?</label>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
</div>