<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="container">
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your cart.  Please <%= link_to "see our menus", menus_path %> and add some items to your cart.
  </p>
<% else %>
  <ul class="collection with-header">
  <li class="collection-header"><h4>My Cart</h4></li>
  <% subtotal = 0 %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', menu: order_item.menu, order_item: order_item, show_total: true %>
    <% subtotal += order_item.total_price %>
  <% end %>
  <li class="collection-item"><div>Total Price<span class="badge new secondary-content green" data-badge-caption="€"><%=  subtotal %></span></div></li>

  </ul>
  <div class="row">
   <%= link_to '<i class="small material-icons left">shopping_basket</i> Check Out'.html_safe, checkout_cart_path,class: "waves-effect white-text waves-light right btn" %>
  <!-- <a class="waves-effect ">checkout</a> -->
  <!-- checkout_cart_path -->
  </div>
<% end %>
</div>