<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body style="background-color: #fafafa;">
    <%= render :partial => '/partials/navbar', :remote => false%>
    <!-- <h1 class="cart-text"> -->
    <%#= render 'layouts/cart_text' %>
    
    <!-- </h1> -->
    <% if user_signed_in? %>
      <%= render :partial => '/partials/navigation' %>
    <% end %>
    <%= yield %>
    <%= render :partial => '/partials/footer' %> 
    <!-- Include the Google Maps API library - required for embedding maps -->
    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoGJPl65yfkgYcc2uBS_ZhrNqMGxfUfNU&callback=initMap">
    </script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('googlemaps'), {
          zoom: 17,
          center: {lat: 27.7120856, lng: 85.3279411},
          disableDefaultUI: true
        });
        var marker = new google.maps.Marker({
          position: {lat: 27.7120856, lng: 85.3279411},
          map: map
        });
      }
    </script>
    <script>
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
        });

      $('#timepicker').pickatime({
        autoclose: false,
        twelvehour: true,
        default: '08:30:00'
      });
    </script>
  </body>
</html>